mixin subscriber-vertical(subscriber)
    div.subscriber
        a(href=`/users/${subscriber._id}`)
            img.subscriber__avatar(src=subscriber.avatar_url)
        a(href=`/users/${subscriber._id}`)
            span.subscriber__nickname #{subscriber.nickname}
