doctype html
html(lang="ko")
    head
        include ../partials/head
    body 
        header 
            include ../partials/flash-message-header
            block headers
        main
            block contents
        include ../partials/footer
        script(src="/assets/js/main.js") 
        block scripts