.avatar-upload {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 20px;
}

.avatar-upload__avatar {
  height: 250px;
  width: 200px;
  border-radius: 10px;
}

.avatar-upload__label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 15px 20px;
  border-radius: 5px;
  color: black;
  width: 100px;
  height: 20px;
}

input[type="file"],
label {
  cursor: pointer !important;
}

.login-form__req-authenticode,
.login-form__confirm-authenticode,
.login-form__confirm-nickname {
  all: unset;
  background-color: white;
  border-radius: 5px;
  color: black;
  padding: 15px 20px;
  margin-bottom: 20px;
  width: 40%;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.login-form__authenticode-ttl,
.login-form__nickname-result {
  padding-left: 20px;
  color: white;
  font-size: 17px;
}

.login-form__pass-format,
.login-form__pass-result {
  display: flex;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 18px;
}

.login-form__confirm-pass {
  margin-bottom: 40px !important;
}
