form {
  max-width: 480px;
  margin: 0 auto;
  &:not(.search__form) {
    padding: 30px;
    border-radius: 10px;
    border: $form-border;
  }
}

.disabled {
  opacity: 0.5 !important;
  pointer-events: none !important;
}

input:not(input[type="range"]),
input[type="submit"] {
  all: unset;
  padding: 15px 20px;
  border-radius: 5px;
  border: $form-border;
  background-color: rgb(18, 18, 18);
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  width: 90%;
  &::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
}

input[type="submit"] {
  border-radius: 5px;
  padding: 15px 20px !important;
  background-color: white !important;
  color: black !important;
  text-align: center !important;
  cursor: pointer !important;
  display: block;
  border: none;
  &:focus {
    outline: none;
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
