.user-video-container {
  display: flex;
  justify-content: center;
}

.user-video-grid {
  display: grid;
  gap: 50px;
  width: 80%;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.user-video-mixin {
  color: rgba(150, 150, 150, 1);

  .user-video-mixin__thumb {
    height: 140px;
    border-radius: 7px;
    width: 100%;
  }
  .user-video-mixin__meta {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    .user-video-mixin__avatar {
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
    .user-video-mixin__info {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      .user-video-mixin__title {
        color: white;
        margin-bottom: 5px;
        font-size: 18px;
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .user-video-mixin__nickname:hover {
        color: white;
      }

      > div {
        margin-bottom: 3px;
      }
    }
  }
}
