nav 
    ul             
        li
            a(href="/") Home 
        if !isLoggedIn
            li
                a(href="/users/login") Login
            li
                a(href="/users/join") Join