a(href="/").header__logo
        i.fab.fa-youtube
nav.header-nav 
    ul.header-nav__ul        
        li
            a(href="/search")
                i.fas.fa-search.header-nav__i
        if !isLoggedIn
            li.header-nav__li
                a(href="/users/login") Login
            li.header-nav__li.header-nav__join
                a(href="/users/join") Join
        else 
            li.header-nav__li 
                a(href="/users/logout") Logout 