a(href="/").header__logo
        i.fab.fa-youtube
form(method="GET", action="/search").header__search-form 
    input(type="text", name="keyword", maxLength="50", required).header__search-input
    input(type="submit", id="search").display-none 
    label(for="search") 
        i.fas.fa-search.header-nav__search-i
nav.header-nav 
    ul.header-nav__ul        
        if !isLoggedIn
            li.header-nav__li
                a(href="/users/login") Login
            li.header-nav__li.header-nav__join
                a(href="/users/join") Join
        else 
            li.header-nav__li
                a(href="/user-videos/upload") Upload Video
            li.header-nav__li
                a(href=`/users/${loggedInUser._id}`) 
                    if loggedInUser.avatar_url.startsWith("http")
                        img(src=loggedInUser.avatar_url).header-nav__avatar
                    else 
                        img(src=`/${loggedInUser.avatar_url}`).header-nav__avatar
