extends ../../templates/main

block content 
    form(method="POST", action=`/users/password/edit`).login-form
        input(name="password", placeholder="현재 비밀번호 입력" ,type="password", minlength="8", maxlength="15", required).login-from__current-pass
        span.login-form__pass-format 비밀번호 형식이 잘못되었습니다.
        input(name="new_password", placeholder="새로운 비밀번호 (8~15자, 대소문자, 숫자, @$!%*?& 조합)", type="password", minlength="8", maxlength="15", required).login-form__pass
        span.login-form__pass-result 패스워드가 일치하지 않습니다.
        input(name="new_password_confirm", placeholder="비밀번호 재입력", type="password", minlength="8", maxlength="15", required).login-form__confirm-pass
        input(type="submit", value="비밀번호 변경")
block scripts 
    script(src="/assets/js/users/edit-password.js") 