extends ../../templates/main

block content 
    form(method="POST", action="/users/join" enctype="multipart/form-data").login-form
        div.avatar-upload 
           label(for="avatar").avatar-upload__label 대표 이미지
           img(src="/resources/img/users/base-img.png").avatar-upload__avatar
           input(type="file", id="avatar", name="avatar", accept="image/jpg, image/jpeg, image/png").avatar-upload__input.login_.display-none
        input(name="name", placeholder="이름", type="text", minlength="2", maxlength="20", required)
        input(name="email", placeholder="E-mail", type="text", minlength="5" maxlength="320", required).login-form__email
        button(type="button").login-form__req-authenticode 인증번호 발송
        span.login-form__authenticode-ttl
        input(name="authenticode" placeholder="이메일 인증번호 입력", type="text",minlength="6", maxlength="6", required).login-form__authenticode
        button(type="button").login-form__confirm-authenticode 인증 확인
        input(name="nickname", placeholder="닉네임", type="text", minlength="2", maxlength="15", required).login-form__nickname
        button(type="button").login-form__confirm-nickname 닉네임 중복확인
        span.login-form__nickname-result
        span.login-form__pass-format 비밀번호 형식이 잘못되었습니다.
        input(name="password", placeholder="비밀번호 (8~15자, 대소문자, 숫자, 특수문자 조합)", type="password", minlength="8", maxlength="15", required).login-form__pass
        span.login-form__pass-result 패스워드가 일치하지 않습니다.
        input(name="password_confirm", placeholder="비밀번호 재입력", type="password", minlength="8", maxlength="15", required).login-form__confirm-pass
        input(name="token", type="text", minlength="10", maxlength="10").login-form__token.display-none
        input(type="submit", value="회원가입")
    div.auth-switch
        span 이미 가입된 아이디가 있으신가요? 
        a(href="/users/login") 로그인 &rarr;
block scripts 
    script(src="/assets/js/users/join.js") 