extends ../../templates/main

block headers
    include ../../partials/profile-header
block contents
    div.profile-header
        div.profile-header__info-container
            if user.avatar_url.startsWith("http")
                img(src=user.avatar_url).profile-header__avatar
            else 
                img(src=`/${user.avatar_url}`).profile-header__avatar
            div.profile-header__info
                span=user.nickname
                span #{user.subscribers.count} 명
        if isLoggedIn && String(loggedInUser._id) !== String(user._id)
            button.profile-header__subscribe-btn 구독
